<div style="float:right">
    <button type="submit" (click) = "logOut()">Log out</button>
</div>
<h1>{{title}}</h1>

    <div *ngIf="!loggedIn">
    <form #login = "ngForm" (ngSubmit) = "onSubmit(login.value)" class="box">
        <div>
            <label>Login</label>
            <input type ="text" ngModel name ="name" required>
        </div>
        <div>
            <label>Password</label>
            <input type ="password" ngModel name ="password" required>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
    </div>
    
<div>
User id: {{loggedUserId}}
</div>
<div>
<app-year *ngIf="loggedIn" [loggedUserId]="loggedUserId">[year]</app-year>
<div *ngIf="badCreds">
Bad Credentials
</div>
</div>
