<form #newEvent="ngForm" name="theForm" (ngSubmit) = "onSubmit(newEvent)" class="box">
    <div>
        <label>Most common (max 100 chars):</label>
        <input type ="text"  [(ngModel)] = eventt.mostCommon #mostCommon="ngModel" name = "mostComm" required maxlength="100">
    </div>
    <div>
        <label>Most important (max 100 chars):</label>
        <input type ="text"  [(ngModel)] = eventt.mostImportant #mostImportant="ngModel" name = "mostImp" required maxlength="100">
    </div>
    <!--<div>
        <label>User id:</label>
        <input type ="text" [(ngModel)] = eventt.user_id  #user_id="ngModel"  name = "user_id"  required readonly>
    </div>-->
    <div>
        <button type="submit">Submit</button>
    </div>
    <div>
        <button type="button" (click)="deleteEvent()">Delete</button>
    </div>
        <div>
            Selected year: {{eventt.year}}
        </div>
        <div>
            Selected week: {{eventt.week}}
        </div>
</form>

<div style="float:left">
    <tr *ngFor="let y of fakeArray">
        {{y}}
        <td *ngFor="let x of weeksOfYear">
            <div *ngIf="isThereEvent(y, x); else elseBlock" style="width:10px;height:10px;border:0.5px solid #000;background-color:blueviolet;" (click) = "showEvent(y, x)"></div>
            <ng-template #elseBlock><div style="width:10px;height:10px;border:0.5px solid #000;" (click) = "showEvent(y, x)"></div></ng-template>
        </td>
    </tr>
</div>
<div style="float:left;padding-left: 100px;">
    <div style="margin-bottom: 100px;margin-top: 50px;">Most common: {{mostCommonShow}}</div> 
    <br>
    <div>Most Important: {{mostImportantShow}}</div>
</div>