h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  input{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  button{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  form{
    border-style: solid;
    width: 400px;
  }
  form.box{
    background-color: lightgray;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }