<ng-container #outlet>
<form #years = "ngForm" (ngSubmit) = "onSubmit(years.value)" class="box">
    <div>
        <label>Year</label>
        <input type ="number" ngModel name ="year" required pattern="^19\d\d|20[0-1]\d|202[0-1]$">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    year: {{year}}
</form>
</ng-container>
<ng-template #content>
<app-weeks #weeks *ngIf="render" [year] = "year" [_loggedUser]="_loggedUser" [render]="false"></app-weeks>
</ng-template>